<!-- "Додати маршрут" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Додайте інформацію про місце</h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Text Boxes and Other Map Inputs.Ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="username">Назва <span class="badge">Всі поля обов'язкові до заповнення</span></label>
                    <input type="text" class="form-control" id="username" placeholder="Музей сковороди" ng-model="formData.username" required>
                </div>
                <label class="radio control-label">Инфраструктура</label>
                <select class="form-control">
                    <option>1</option>
                </select>

                <div class="form-group">
                    <label for="1">Місто</label>
                    <input type="text" class="form-control" id="1" placeholder="Київ" ng-model="formData.age" required>
                </div>
                <div class="form-group">
                    <label for="2">Вулиця</label>
                    <input type="text" class="form-control" id="2" placeholder="вул. Приозерна, 3" ng-model="formData.favlang" required>
                </div>
                <div class="form-group">
                    <label for="3">Широта</label>
                    <input type="text" class="form-control" id="3" value="" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="5">Довгота</label>
                    <input type="text" class="form-control" id="5" value="" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified">Моя координата <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Дякуємо за ваші координати" ng-model="formData.htmlverified" readonly>
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createMap()" ng-disabled="addForm.$invalid">Відправити</button>
            </form>
        </div>
    </div>
</div>
